# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# OSX
.DS_Store

# Editor / IDE project files
nbproject/
.idea/

# Executables & Compiled files
*.exe
*.out
*.app
*.o
*.prog

# libraries
*.a
*.lib

# Objects
*.dll
*.so
*.dylib

# tar files
*.tgz

# unuseful log files
*.log


