# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore make files
!*MAKEFILE
!*Makefile

# OSX
.DS_Store

# Editor / IDE project files
nbproject/
.idea/

# Executables & Compiled files
*.exe
*.out
*.app
*.o
*.prog

# libraries
*.a
*.lib

# Objects
*.dll
*.so
*.dylib

# tar files
*.tgz
*.tar
*.gz
*.tar.gz

# unuseful log files
*.log

#hw4 specific files
hw4/test.sh
hw4/test_100.sh
hw4/.times
hw4/.times_100

#hw5 specific files
hw5/hw5src/newfile.h
hw5/hw5src/newfile.c

